@import "../var";

// ┌─╮╭─╮┌─╮╷ ╷┌─╮
// ├─╯│ │├─╯│ │├─╯
// ╵  ╰─╯╵  ╰─╯╵

.popup {
  article {
    font-family: $font-sans;
    padding: 1.5rem;
    background-color: $color-white;
    color: $color-black;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .box {
    padding: 1rem;
    margin-top: 1rem;
    background-color: $color-white;
    border: $border;

    h3 {
      font-weight: bold;
    }
  }

  .button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    background-color: $color-white;
    color: $color-black;
    border: 2px dashed black;

    &:hover, &:focus {
      background-color: $color-third;
    }
  }
}

#legal {
  .box {
    height: 15rem;
    font-family: $font-mono;
    font-size: 0.9rem;

    h3 {
      margin-bottom: 0.5rem;

      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
    p {
      margin-bottom: 0.5rem;
    }

    p:last-child {
      padding-bottom: 1rem;
    }
  }
}


// ┌─╮┌─╮┌─╴
// ├─╯│ │├─╴
// ╵  └─╯╵

.pdf {
  font-family: $font-sans;
  color: $color-black;
  font-size: 1.1rem;

  &.container {
    background-color: $color-dark;
  }
  article {
    max-width: 50rem;
  }
}

#conduct-code {
  line-height: 1.45rem;

  article {
    text-align: justify;
    margin: auto;
    padding: 3.5rem;
    padding-top: 4.5rem;
    background-color: $color-white;
    @include phone {
      padding: 2rem;
    }
  }

  .color {
    color: $red;
  }

  .headline {
    font-size: 0.9rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    font-weight: bold;
  }

  h2 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    padding: 0.5rem;
    font-size: 2rem;
    border: $border;
    text-align: left;
    @include phone {
      line-height: 2rem;
    }
  }

  h3 {
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 0.5rem;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  p::after {
    content: " ◆";
  }

  .main-text p {
    margin: 1rem 0;

    &::before {
      font-weight: bold;
    }

    &:first-child::before {
      content: "Art. 2018 ";
      color: $red;
      margin-right: 0.2rem;
    }

    &:nth-child(2)::before {
      content: "RMLL ";
    }

    &:nth-child(3)::before {
      content: "The Code of Conduct ";
    }
  }
  .col-left p:first-of-type::before {
    content: "We invite and encourage everybody to express their opinions ";
    font-weight: bold;
  }

  .columns {
    width:100%;
    margin-top: 1.5rem;
    @include screen {
      display:flex;
      justify-content: space-between;
      .col-left, .col-right {
        width:47%;
      }
    }
  }
}

#cfb {
  width: auto;
  max-width: calc(50rem + 4px);
  margin: auto;

  .container {
    @media (min-width: calc(50rem + 4px)) {
      overflow-x: hidden;
    }
  }
  article {
    width: 50rem;
    height: 70rem;
    background-color: $yellow-flash;
    padding: 2rem;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }

  h1 {
    font-size: 8.5rem;
    color: $yellow-flash;
    background-color: black;
  }

  .box-container {
    display: flex;
    justify-content: space-between;
  }

  .box-left {
    margin-top: 0.75rem;
    border: 5px solid black;
    transform: rotate(-5deg);
    display: inline-block;
    padding: 0.5rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.8);

    p.date {
      font-size: 6rem;
    }

    p.month {
      font-size: 3rem;
    }
  }

  .second-container {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .box-right {
    right: 0;

    p.where {
      font-size: 2.25rem;
      margin-top: 2rem;
    }

    p.msg {
      margin-top: 1.5rem;
      font-weight: 600;
      font-size: 1.25rem;
    }
  }

  h2 {
    font-size: 7.5rem;
    font-style: normal;
  }
  h2:first-of-type {
    margin-top: 2rem;
  }

  h2.huge {
    font-size:10.25rem;
    line-height:7rem;
  }

  a {
    font-weight: 600;
    font-size: 1.25rem;
    color:black;
  }

  .text-render {
    background-color: black;
    color: $yellow-flash;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 1rem;

    p:first-child {
      font-size: 4rem;
    }

    p:nth-child(2) {
      font-size: 3rem;
    }

    p:nth-child(3) {
      font-size: 2rem;
    }

    p:last-child {
      font-size: 1.5rem;
    }
  }

  .end-content {
    margin-top: 1.5rem;

    p {
      font-size: 1.5rem;
    }
  }
}
