@import "../var";

.spreadsheet {
  background-color: $color-white;
  color: $color-black;

  nav {
    & > ul {
      border-bottom: $border;
      display: flex;
      align-items: center;
      // justify-content: center;
      height: 2rem;
      line-height: 1.7rem;

      li {
        padding: 0 1rem;
        height: 2rem;
      }

      &.options {
        & > li:hover {
          border-left: $border;
          border-right: $border;
          padding: 0 calc(1rem - 2px);
          ul {
            display: block;
          }
        }
        ul {
          display: none;
          position: absolute;
          margin-top: 3px;
          z-index: 100;
          background-color: $color-white;
          margin-left: -1rem;
          padding: 0.5rem 1rem 1rem 1rem;
          border: $border;
          // border-top: none;

          li {
            padding: 0;
          }
        }
      }

      &.sheets {
        background-color: $color-third;
        border-style: dashed;

        li {
          width: 100%;

          &:not(:first-of-type)::before {
            content: "";
            margin-left: 0.7rem;
            width: 1rem;
            height: 2.80rem;
            border-right: 2px dashed $color-black;
            transform-origin: center;
            transform: rotate(45deg);
            display: inline-block;
            position: absolute;
            top: 3.35rem;
            margin-left: -3rem;
          }
        }
      }
    }
  }

  & > article {
    height: 100%;
  }
  table {
    display: block;
    width: 100%;
    height: calc(100% - 6rem);
    font-family: $font-sans;
  }

  caption, tbody, tfoot, thead, tr, th, td {
    display: block;
  }

  tr {
    display: flex;
    flex-direction: row;
    height: 10rem;

    th, td {
      flex: 1 ;
    }

  }

  tbody th, thead th:first-child {
    max-width: 15rem;
  }

  thead {
    tr {
      height: 2rem;
      background-color: black;
    }
    th {
      align-self: center;
      color: white;
      padding: 1rem;
    }
  }


  th {
    text-align: left;
    font-weight: 700;
  }

  tbody {
    height: 100%;
    &.hide {
      display: none;
    }

    th {
      padding: 1rem;
    }
    tr:nth-child(2n+0) th {
      background-color: lighten($color-main, 25%); ;
    }
    tr {
      border-bottom: $border;
    }
    td {
      border-left: $border;
      display: flex;
    }

    article {
      padding: 1rem;
      background-color: $color-third;
      border-right: $border;
      height: 100%;
      max-width: 15rem;
      position: relative;
      overflow: hidden;

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
    }
    [data-type="2"], [data-type="3"], [data-type="4"], [data-type="5"] {
      // workshop
      background-color: $color-third;
    }
    [data-type="6"], [data-type="7"] {
      // conferences
      background-color: $color-second;
    }
    [data-type="8"], [data-type="9"], [data-type="10"], [data-type="11"] {
      // chatrooms
      background-color: $pink;
    }
    [data-type="12"] {
      // debate
      background-color: $red;
    }
    [data-type="14"] {
      // creation
      background-color: $cyan;
    }
    [data-type="15"] {
      // other
      background-color: $blue;
    }
    [data-type="16"] {
      // plenary
      background-color: $color-main;
    }
  }
}

  .spreadsheetold {
    background-color: $color-white;
    color: black;
    @include phone {
      overflow: hidden;
    }

    .content {
      padding: 0;
      line-height: 2rem;
      @include phone {
        overflow: auto;
      }

      table {
        width: 100%;
        height: 100%;
        table-layout: fixed;
        border-spacing: 0px 0px;
        @include phone {
          width: 100rem;
          overflow: auto;
        }
      }

      table, thead, th, tr, td {
        border:1px solid black;
        border-collapse: collapse;
        vertical-align: middle;
        text-align:center;
      }
      caption {
        height: 2rem;
      }

      thead th:first-child {
        background-color: $color-white;
      }

      th {
        @include pixel-bg($halftone-window);
        span {
          background-color: $color-white;
          padding: 0.5rem 1rem;
          font-weight: bold;
        }
      }
      .first {
        @include phone {
          width: 8rem;
        }
        @include screen {
          min-width: 15rem;
        }

      }
      td p {
        background-color: $orange;
      }

    }
  }
