@import "../var";

.spreadsheet {
  background-color: $color-white;
  color: $color-black;

  #bg-card {
    display: none;
    z-index: 1;
    position: fixed;
    width:  100%;
    height: calc(100% - 2rem);
    top: 2rem;
    left: 0;
    opacity: 0.7;
    background-color: $color-dark;
    cursor: zoom-out;
  }

  nav {
    & > ul {
      border-bottom: $border;
      display: flex;
      align-items: center;
      height: 2rem;
      line-height: 1.8rem;

      li {
        padding: 0 1rem;
        height: 2rem;
      }

      &.options {

        & > li, & > li > ul {
          display: flex;
          align-items: center;
        }

        ul ul {
          display: none;
        }
        & > li li:hover {
          border-left: $border;
          border-right: $border;
          padding: 0 calc(1rem - 2px);
          ul {
            display: block;
          }
        }
        ul ul {
          display: none;
          position: absolute;
          margin-top: 3px;
          z-index: 100;
          background-color: $color-white;
          margin-left: -1rem;
          padding: 0.5rem 1rem 1rem 1rem;
          border: $border;
          // border-top: none;

          li {
            padding: 0;
          }
        }
      }

      &.sheets {
        background-color: $color-third;
        border-style: dashed;

        li {
          width: 100%;

          &:not(:first-of-type)::before {
            content: "";
            margin-left: 0.7rem;
            width: 1rem;
            height: 2.80rem;
            border-right: 2px dashed $color-black;
            transform-origin: center;
            transform: rotate(45deg);
            display: inline-block;
            position: absolute;
            top: 3.35rem;
            margin-left: -3rem;
          }
        }
      }
    }
  }

  & > article {
    height: calc(100% - 4rem);
    width: 100%;
  }
  table {
    display: block;
    min-width: 2700px;
    font-family: $font-sans;
    cursor: move;
  }

  caption, tbody, tfoot, thead, tr, th, td {
    display: block;
  }

  tr {
    display: flex;
    flex-direction: row;
    height: 10rem;
  }

  tbody th, thead th:first-child {
    width: 10rem;
    min-width: 10rem;

    @include phone {
      p {
        transform-origin: top right;
        position: relative;
        left: -8rem;
        width: 8rem;
        transform: rotate(-90deg);
      }
      width: 5rem;
      min-width: 5rem;
    }
  }

  thead {
    margin-top: -2rem;
    tr {
      height: 2rem;
      background-color: $color-black;
    }
    th {
      align-self: center;
      color: white;
      padding: 1rem;
    }
  }


  th {
    text-align: left;
    font-weight: 700;
  }

  tbody {
    &.hide {
      display: none;
    }

    th {
      padding: 1rem;
      border-right: $border;
    }
    tr:nth-child(2n+0) {
      background-color: lighten($color-main, 42%);
      // @include pixel-bg($halftone-window);
      th {
        background-color: lighten($color-main, 30%);
      }
    }
    tr {
      box-sizing: content-box;
      border-bottom: $border;
    }
    td {
      display: flex;
    }

    .event-container {
      height: 100%;

      &:hover {
        z-index: 2;
        overflow: visible;
        height: auto;
      }
    }

    article.event {
      width: calc(100% + 2px);
      height: calc(100% + 4px);
      margin-left: -2px;
      margin-top: -2px;
      border: $border;
      overflow: hidden;
      display: flex;
      flex-direction: column;

      &:not(.card):hover {
        cursor: zoom-in;
        min-height: calc(100% + 4px);
        min-width: 200px;
        height: auto;

        & aside span {
          display: inline-block;
        }
      }
      & > div {
        padding: 1rem;
      }

      aside *:not(mark) {
        display: none;
      }

      aside {
        font-family: $font-mono;
        display: flex;

        &.top {
          span:nth-child(2) {
            padding-left: 0.75rem;
          }
          span:nth-child(3) {
            font-weight: normal;
            margin-left: auto;
          }
        }
        &.bottom {
          background-color: $color-white;
          margin-top: auto;
          flex-wrap: wrap;
          span:nth-child(1) {
            width: 100%;
          }
          span:nth-child(3) {
            margin-left: auto;
          }
        }

        * {
          padding: 0 0.5rem;
          height: 2rem;
          line-height: 2rem;
        }

        mark {
          background-color: $color-black;
          color: $color-white;
        }

        span {
          background-color: $color-white;
          font-weight: bold;
          &:nth-child(2) {
            font-weight: normal;
          }
        }
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

      }
      h4 {
        display: none;
        font-size: 1.3rem;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 1.5rem;
      }
      .abstract, .bio {
        margin-top: 1rem;
        line-height: 1.15rem;
        display: none;
      }

      &.card {
        position: absolute;
        overflow: auto;
        z-index: 2;
        margin: auto;
        left: 2rem;
        top: 2rem;
        width: 70vw;
        max-width: 50rem;
        height: auto;

        @include phone {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
        h3 {
          max-width: 30rem;
        }
        h4 {
          display: block;
          max-width: 40rem;
        }
        div div {
          display: block;
        }
        span {
          display: inline-block;
        }
        .bottom {
          flex-wrap: wrap;
        }
      }
    }

    [data-type="2"], [data-type="3"], [data-type="4"], [data-type="5"] {
      // workshop
      background-color: $color-third;
    }
    [data-type="6"], [data-type="7"] {
      // conferences
      background-color: $color-second;
    }
    [data-type="8"], [data-type="9"], [data-type="10"], [data-type="11"] {
      // chatrooms
      background-color: $pink;
    }
    [data-type="12"] {
      // debate
      background-color: lighten($red, 25%);
    }
    [data-type="14"] {
      // creation
      background-color: $cyan;
    }
    [data-type="15"] {
      // other
      background-color: lighten($blue, 25%);
    }
    [data-type="16"] {
      // plenary
      background-color: $color-main;
    }
  }
}
