@import "../var";

.term {
  line-height: $terminal-line-height;
  font-family: $font-mono;
  background-color: $color-dark;
  color: $color-light;

  .bar {
    @include simple_bar("terminal");
  }

  .content {
    padding: 2rem;
  }

  .color {
    color: $color-cli;
  }

  .folder {
    color: $blue;
    a {
      color: $blue;
    }
  }

  a {
    color: $color-light;
  }

  .result p {
    white-space: pre-wrap;
  }

  .ascii p {
    white-space: pre;
    // color: $color-cli;
  }
}


#neofetch {
  height: 100%;
  padding-bottom: 3rem;
  width: 100%;

  @media (min-width: 1150px) {
    width: 50%;
  }

  .sub-content {
    @media (min-width: 600px) {
        display: flex;
        align-items: center;
    }
    .ascii {
      margin: 2rem 0;
      @media (min-width: 600px) {
          margin-right: 4rem;
      }

    }

    ul {
      margin-left: 2rem;
    }
  }
}


#vimLike {
  width: 100%;
  height: 100%;
  line-height: $terminal-line-height;
  overflow-x: hidden;

  .bar {
    @include simple_bar("Présentation");
    background-color: $color-grey-darker;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    position: fixed;
    border-top: 2px solid $color-grey-lighter;
  }

  #window-content {
    width: 100%;
    height: calc(100% - 4rem);
    bottom: 0;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    li, li > p {
      padding-left: 2rem;
    }

    .indent {
      padding-left: 2rem;
    }

    .indent-more {
        padding-left: 4rem;
      }

    a {
      color: white;
    }

    .bold {
      font-weight: bold;
    }

    #treeView {
      width: 20vw;
      height: 100%;
      background-color: white;
      position: fixed;
      padding: 2rem;
    }

    #content {
      width: 80vw;
      left: 20vw;
      background-color: black;
      color: white;
      position: relative;
      padding: 2rem;
    }
  }

}

#sponsors {
  .ascii {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .folder {
    margin-top: 2rem;
  }
}

#manLike {

  .bar2 {
    @include simple_bar("Qu'est-ce que le Libre ?");
    background-color: $color-grey-darker;
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    position: fixed;
    border-top: 2px solid $color-grey-lighter;

    &:before {
      position: relative;
      display: flex;
      justify-content: center;
      margin-left: 0;
    }
    &:after {
      content: none;
    }
  }

  #window-content2 {
    width: 50%;
    height: calc(100% - 4rem);
    bottom: 0;
    position: absolute;
    overflow-y: hidden;
    overflow-x: hidden;
    line-height: 1.5rem;
    background-color: black;

    li {
      &:before{
        content: "-";
      }
    }

    .indent-more {
      p, ul {
        padding-left: 4rem;
      }
    }

    a {
      color: white;
    }

    h2 {
      font-weight: bold;
      color: white;
    }

    b {
      font-weight:bold;
      color: white;
    }

    #content2 {
      width: 50vw;
      height: 100%;
      left: 0;
      color: $color-grey-medium;
      position: relative;
      padding: 2rem;
      padding-left: 0;
    }
  }
}

#access {
  h4 {
    margin-top: 2rem;
  }
}

#food {
  h2 {
    margin-bottom: 2rem;
  }
}

#lodging {
  h5 {
    margin-top: 2rem;
  }
}

#tourism {
  h2 {
    margin-bottom: 2rem;
  }
  h4 {
    margin-top: 2rem;
  }
  h5 {
    margin-top: 2rem;
  }
}

#cfb {
  h2 {
    margin-bottom: 2rem;
  }
}

#donate {
  h2 {
    margin-bottom: 2rem;
  }
}

#volunteering {
  h2 {
    margin-bottom: 2rem;
  }
}

#conduct-code {
  h2 {
    margin-bottom: 2rem;
  }
}
