@import "../var";

.term {
  line-height: $terminal-line-height;
  font-family: $font-mono;
  background-color: $color-dark;
  color: $color-grey-medium;


  .split-content .ascii {
    margin: 2rem 0;
    @media (min-width: 600px) {
      margin-right: 4rem;
    }
  }

    .split-content {
      @media (min-width: 600px) {
        display: flex;
        align-items: center;
      }

    }

  .folder, .folder a {
    color: $yellow;
  }
  &.invert  {
    .folder, .folder a {
      color: $color-main;
    }
  }

  .result p {
    white-space: pre-wrap;
  }

  .ascii p {
    white-space: pre;
  }
}



#neofetch {
  ul {
    margin-left: 2rem;
  }
  .ascii {
    color: white;
  }
}


#vimLike {
  width: 100%;
  height: 100%;
  line-height: $terminal-line-height;
  overflow-x: hidden;

  .bar {
    @include simple_bar("Présentation");
    background-color: $color-grey-darker;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    position: fixed;
    border-top: 2px solid $color-grey-lighter;
  }

  #window-content {
    width: 100%;
    height: calc(100% - 4rem);
    bottom: 0;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;

    li, li > p {
      padding-left: 2rem;
    }

    .indent {
      padding-left: 2rem;
    }

    .indent-more {
        padding-left: 4rem;
      }

    a {
      color: white;
    }

    .bold {
      font-weight: bold;
    }

    #treeView {
      width: 20vw;
      height: 100%;
      background-color: white;
      position: fixed;
      padding: 2rem;
    }

    #content {
      width: 80vw;
      left: 20vw;
      background-color: black;
      color: white;
      position: relative;
      padding: 2rem;
    }
  }

}

#sponsors {
  .ascii {
    margin-bottom: 4rem;
    margin-top: 2rem;
    color: white;
    p {
      @media (max-width: 880px) {
        font-size: 1.2vw;
        line-height: 1.2vw;
      }
    }
  }

  .folder {
    margin-top: 2rem;
  }
}

#man {
  .content {
    line-height: 1.5rem;
    padding-left: 1rem;

    h1 {
      margin-bottom: 1rem;
      text-align: center;
    }

    h2, a, b {
      color: white;
    }
    h2, b {
      font-weight: bold;
    }

    p, ul {
      margin-left: 4rem;
    }

    li::before {
      content: "-";
    }
  }
}

#access {
  h4 {
    margin-top: 2rem;
  }
}

#food {
  h2 {
    margin-bottom: 2rem;
  }
}

#lodging {
  h5 {
    margin-top: 2rem;
  }
}

#tourism {
  h2 {
    margin-bottom: 2rem;
  }
  h4 {
    margin-top: 2rem;
  }
  h5 {
    margin-top: 2rem;
  }
}

#cfb {
  h2 {
    margin-bottom: 2rem;
  }
}

#donate {
  h2 {
    margin-bottom: 2rem;
  }
}

#volunteering {
  h2 {
    margin-bottom: 2rem;
  }
}

#conduct-code {
  h2 {
    margin-bottom: 2rem;
  }
}
