@import "../var";

section.window {
  background-color: $color-white;
}

.list {
  color: $color-black;

  & > .container-flex {
    font-family: $font-sans;
    background-color: $color-white;
    background-color: lighten($color-main, 45%);
    overflow-x: hidden;
    height: calc(100% - 2rem);
    @include screen {
      font-size: 1.2rem;
    }
    @include phone {
      overflow: hidden;
    }
    section.days {
      height: 100%;
      width: 100%;
      @include phone {
        height: calc(100% - 2rem);
        overflow-y: auto;
        overflow-x: hidden;
      }
      &.hide {
        display: none;
      }
    }
  }
}

nav.days {
  background-color: $color-white;

  @include screen {
    position: sticky;
    top: 0;
    min-width: 8vw;
    width: 20vw;
    height: 100%;
    border-right: $border;
  }
  @include phone {
    height: 2rem;
  }

  ul {
    height: 100%;
    @include phone {
      display: flex;
      justify-content: space-between;
      background-color: $pink;
      border-bottom: $border;
    }
  }

  li {
    @include screen {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65%;
      height: 15%;
      margin: auto;
      margin-top: 5%;
      background-color: $pink;
      border: $border;
    }
    @include phone {
      height: 2rem;
      line-height: 1.9rem;
      width: 100%;

      &:not(:last-of-type) {
        border-right: $border;
      }
    }

    &:hover {
      border-style: dashed;
    }
  }

  a {
    color: $color-black;

    @include screen {
      font-size: 1.5rem;
      font-weight: 600;
    }
    @include phone {
      display: inline-block;
      font-family: $font-mono;
      text-decoration: none;
      width: 100%;
      text-align: center;
    }
    @include tablet {
      span {
        display: none;
      }
    }
  }
}

.days {
  & > h2 {
    height: 2rem;
    line-height: 1.9rem;
    text-align: center;
    font-weight: 700;
    background-color: $color-black;
    color: $color-white;
    position: sticky;
    top: 0;
    @include phone {
      display: none;
    }
  }

  article {
    margin-top: 3rem;
    background-color: $color-white;

    @include screen {
      width: 90%;
      max-width: 65vw;
      min-height: 70vh;
      margin: auto;
      margin-top: 3rem;
      border: $border;
    }
    @include phone {
      border-top: $border;
      border-bottom: $border;
    }

    & > * {
      padding: 1rem;

      @include screen {
        padding: 2rem;
      }
    }

    & > h3, & > h4 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $color-white;
      border-bottom: $border;
      padding: 2rem;
      @include screen {
        font-size: 3rem;
        padding: 4rem 2rem;
      }
    }

    & > h3 {
      background-color: $color-main;
    }

    & > h4 {
      background-color: $color-black;
      &::before {
        content: "Track : ";
      }
    }

    dl {
      border-top: $border;
    }
  }
}

.pres {

  nav {
    @include screen {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    h4 {
      font-size: 1.3rem;
      margin-bottom: 1rem;

      @include screen {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      &::after {
        content: " :";
      }
    }

    ul {
      width: 100%;
      padding: 1rem;

      @include screen {
        padding: 2rem 4rem;
      }

      li {
        &::before {
          content: "● ";
          padding-right: 0.5rem;
        }
      }

      a {
        color: $color-black;
        line-height: 1.4rem;
      }
      @include screen {
        &.left {
          a {
            font-size: 1.5rem;
            line-height: 2rem;
          }
        }

        &.right {
          margin-left: 5%;
          line-height: 2rem;
        }
      }
    }
  }
}

.event {
  display: flex;
  flex-direction: column;
  background-color: $color-white;

  h5 {
    font-size: 3rem;
    padding: 2rem;
    font-weight: 600;
    border-bottom: $border;
    border-style: dashed;
    @include phone {
      font-size: 2rem;
      padding-left: 1rem;
    }
  }

  h6 {
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 0;
    @include phone {
      font-size: 1.5rem;
    }
  }

  .content {
    & > p {
      margin-bottom: 1rem;
      font-weight: bold;
      @include phone {
        padding-bottom: 1rem;
        border-bottom: $border;
        margin-bottom: 2rem;
      }

      &::before {
        content: "Par ";
      }
    }

    .abstract {
      max-width: 50rem;
      line-height: 1.35rem;

      @include screen {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: $border;
      }

      h1, h2, h3, h4, h5, h6 {
        margin: 1rem 0 0.5rem 0;
        font-size: 1.3rem;
        font-weight: 600;
      }

      p {
        margin-bottom: 0.7rem;
      }

      li {
        &::before {
          content: "- ";
        }
        p {
          display: inline;
        }
      }
      ul {
        margin-bottom: 0.5rem;
      }

      strong, b {
        font-weight: bold;
      }

      em, i {
        font-style: italic;
      }

      img {
        display: none;
      }
    }
  }

  dl.infos {
    border-style: dashed;
    margin-top: auto;
    font-family: $font-mono;

    @include screen {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div {
        background-color: white;
        padding: 0.5rem 1rem;
      }
    }
    @include phone {
      div {
        line-height: 1.5rem;
      }
    }



    dt, dd {
      display: inline;
    }

    dt::after {
      content: " : ";
    }
    dd {
      font-weight: bold;
    }
  }
}


[data-type="workshop"] h5 {
  background-color: $color-third;
}
[data-type="conference"] h5 {
  background-color: $color-second;
}
[data-type="chatroom"] h5 {
  background-color: $pink;
}
[data-type="debate"] h5 {
  background-color: lighten($red, 25%);
}
[data-type="creation"] h5 {
  background-color: $cyan;
}
[data-type="other"] h5, [data-type="arpentage littéraire"] h5 {
  background-color: lighten($blue, 25%);
}
[data-type="night"] h5, [data-type="night"] dl {
  background-color: lighten($blue, 25%);
}
[data-type="plenary"] h5, [data-type="plenary"] dl {
  background-color: lighten($color-main, 30%);
}
[data-type="village"] h5, [data-type="village"] dl {
  background-color: lighten($orange, 25%);
}
[data-type="hackerspace"] h5, [data-type="hackerspace"] dl {
  background-color: lighten($red, 25%);
}
