nav {
  position: relative;
  @include pixel-bg($halftone-nav);
  z-index: 10;
  height: 2rem; width: 100%;

  background-color: white;
  font-size: 0.95rem;
  color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  #home-link {
    font-size: 1.7rem;
  }
  
  li {
    height: 2rem;
  }

  ul {
    background-color: black;
    white-space: nowrap;
  }

  & > ul {
    display: flex;
  }

  a {
    display: inline-block;
    padding: 0 1rem;
    line-height: 2rem;
    width: 100%;

    color: white;
    text-decoration: none;

    &:hover {
      background-color: $color-dark-select;
    }
    &:focus {
      background-color: $orange;
      color: black;
    }
  }

  .dropdown {
    position: absolute;
    display: none;
  }

  .show {
    display: block;
  }

  @include phone {
    .dropdown {
      width: 100%;
      left: 0;
    }

    #main-menu {
      padding: 0.5rem 0 1rem 0;

      & > li > a::before, .has-submenu > a::before {
        content: ">";
        display: inline-block;
        text-align: center;
        width: 1rem;
        padding-right: 1rem;
      }

      ul {
        position: static;
        margin-left: 2rem;
      }
    }
  }

  @include screen {
    #menu-button {
      display: none;
    }

    #main-menu {
      display: flex;
      padding: 0;
    }

    #last-menu {
      right: 0;
    }

    .dropdown {
      padding-top: 0.5rem;
    }

    .dropdown-menu {
      a {
        padding-right: 3rem;
      }

      &::after {
        content:" ";
        display: block;
        white-space: pre;
        top: 0.8rem;
        position: relative;
        width: 100%;
        background-color: white;
        @include pixel-bg($halftone-nav);
      }
    }

    .dropdown-submenu {
      left: 100%;
      margin-top: -2.5rem;
    }

    .has-submenu::after {
      content: ">";
      margin-left: -1.7rem;

      line-height: 2rem;
    }
  }

}
