$color-main: #8400ff;
$color-second: #b6ffaa;
$color-third: #ffffaa;
$color-dark: #0f0f0f;
$color-dark-select: #272727;
$color-light: #d5d5d5;
$color-cli: #00ffa5;
$color-black: black;
$color-white: white;

$root-font-size: 0.8em;
$terminal-line-height: 1.3rem;

$halftone-bg: asset-data-url("halftone-bg.png");
$halftone-nav: asset-data-url("halftone-nav.png");
$halftone-window: asset-data-url("halftone-window.png");

$bar-height: 2rem;
$border: 2px solid $color-black;
$border-rad: 4px;
$border-rad-button: 0.5rem;

$color-grey-medium: #b3b3b3;
$color-shadow: rgba(100,100,100,0.3);
$color-grey-lighter: #f0f0f0;
$color-grey-darker: #a8a8a8;
$color-grey-shadow: #4d4d4d;

$blue: #009cff;
$pink: #ffdaff;
$orange: #ffda00;
$yellow-flash: #ffff00;
$red: #ff0000;
$cyan: #6dffff;

$font-mono: "Space Mono", monospace;
$font-sans: "Open Sans", sans-serif;
$font-pixel: "Mister Pixel", monospace;

@mixin screen() {
  @media (min-width: 730px) { @content; }
}

@mixin tablet() {
  @media (max-width: 1150px) { @content; }
}

@mixin phone() {
  @media (max-width: 729px) { @content; }
}

@mixin pixel-bg($link) {
  background-image: $link;
  image-rendering: pixelated;
}
