$color-main: #8400ff;
$color-second: #b6ffaa;
$color-dark: #0f0f0f;
$color-dark-select: #272727;
$color-light: #d5d5d5;

$color-cli: #00ffa5;
$blue: #009cff;
$pink: #ffdaff;
$orange: #ffda00;
$yellow: #ffffaa;
$red: #ff0000;
$cyan: #6dffff;

$font-mono: "Space Mono", monospace;
$font-sans: "Open Sans", sans-serif;

@mixin screen() {
  @media (min-width: 768px) { @content; }
}

@mixin phone() {
  @media (max-width: 768px) { @content; }
}
