.half {
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

section {
  border: $border;

  .popup {
    border-radius: $border-rad;
  }
}

.container {
  width: 100%;
  height: calc(100% - #{$bar-height});
}

.container-flex {
  width: 100%;
  height: calc(100% - #{$bar-height});

  @include screen {
    display: flex;
  }
}

article {
  .container, .container-flex {
    height: 100%;
  }
}

.bar {
  width: 100%; height: $bar-height;
  display: flex;
  justify-content: flex-end;
  border-bottom: $border;
  background-color: $color-white;
  color: $color-black;
  line-height: 1.7rem;
  overflow: hidden;

  * {
    height: 100%;
  }

  span {
    margin: auto;
  }

  a {
    padding: 0rem 0.5rem;
    color: $color-black;
    background-color: $color-white;
    text-decoration: none;
    border-left: $border;
    font-weight: bold;
    // @media (max-width: 450px) {
    //   display: none;
    // }

    &:hover, &:focus {
      color: $color-white;
      background-color: $color-black;
    }
  }
}
