.half {
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

section.window:not(#home) {
  border: $border;

  &.popup {
    border-radius: $border-rad;
    @media (min-width: 550px) {
      height: auto; width: 40rem;
    }

    .bar {
      background-color: $color-black;
      color: $color-white;
    }
  }
}

.container {
  width: 100%;
  height: 100%;

  @include screen {
    height: calc(100% - #{$bar-height});
  }
}

.container-flex {
  width: 100%;
  height: 100%;

  @include screen {
    height: calc(100% - #{$bar-height});
    display: flex;
  }
}

article, nav {
  .container, .container-flex {
    height: 100%;
  }
}

.bar {
  width: 100%; height: $bar-height;
  display: flex;
  justify-content: flex-end;
  border-bottom: $border;
  background-color: $color-white;
  color: $color-black;
  line-height: 1.7rem;
  overflow: hidden;

  @include phone {
    display: none;
  }

  * {
    height: 100%;
  }

  span {
    padding-left: 1rem;
    margin: auto;
  }

  a {
    padding: 0rem 0.5rem;
    color: $color-black;
    background-color: $color-white;
    text-decoration: none;
    border-left: $border;
    font-weight: bold;

    &:hover, &:focus {
      color: $color-white;
      background-color: $color-black;
    }
  }
}

ul.options {
  display: flex;
  border-bottom: $border;
  height: 2rem;

  a {
    display: inline-block;
    width: 100%;
    min-height: 2rem;
    padding: 0 1rem;
    text-decoration: none;
    line-height: 1.9rem;
    color: $color-black;

    &:focus, &:hover {
      height: calc(2rem - 2px);
      background-color: $color-third;
      color: black;
      border-bottom: $border;
      outline: none;
    }
  }

  & > li {
    border-right: $border;
  }

  [role="menu"] {
    display: none;
    background-color: $color-white;
    border: $border;

    &.show {
      display: block;
      position: absolute;
      margin-left: -2px;
      margin-top: -2px;
      z-index: 50;
    }
  }
}
