@import "var";
@import "reset";

:root {
  color: $color-white;
  font-family: $font-mono;
  font-size: $root-font-size;
  font-variant-ligatures: none;
}

html, body, main, section {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  background-color: $color-main;
}

main {
  height: calc(100% - 2rem);
  position: relative;
}

@import "menu";
@import "window";
@import "specific/home";
@import "specific/terminal";
@import "specific/misc";
// @import "specific/popup";
// @import "specific/spreadsheet";
// @import "specific/call";
// @import "specific/pdf";
// @import "specific/map";

.flex {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }
}

.overflow {
  overflow: auto;
}

.noselect {
  -webkit-touch-callout: none; // iOS Safari
  user-select: none;
}

.space-pre p {
  white-space: pre;
}
.space-wrap p {
  white-space: pre-wrap;
}

@import "font-face";
