%section.spreadsheet
  .bar

  .content
    %table
      %thead
        %tr
          %th{ scope:"col" } Samedi 7 Juillet
          %th{ scope:"col" }  Horaires
          %th{ scope:"col" }  Université
          %th{ scope:"col" }  Presqu´île Malraux
          %th{ scope:"col" }  TBA
        %tr
          %th{ scope:"col" } Escarpe
          %th{ scope:"col" } Atrium
          %th{ scope:"col" } Platane
      %tbody
        %tr
          %th{ scope:"row" }  10h00
          %th{ scope:"row" }  11h00
          %th{ scope:"row" }  12h00
          %th{ scope:"row" }  13h00
