- headers = ['Booth ID',
             'Title',
             'Description',
             'During the general audience week-end',
             'During the rest of the week',
             'Submitter Name',
             'Submitter Email',
             'Peoples on booth',
             'Website Url',
             'Comment',
             'State']
= CSV.generate_line ['All booths']
= CSV.generate_line headers
- @booths.each do |booth|
  = CSV.generate_line([booth.id,
                       booth.title,
                       booth.description,
                       booth.during_the_general_audience_weekend,
                       booth.during_the_rest_of_the_week,
                       booth.submitter.name,
                       booth.submitter.email,
                       booth.peoples_on_booth,
                       booth.website_url,
                       booth.comment,
                       booth.state]).html_safe
