= render partial: "rmll/background"

%main.half
  %section
    - add_bar("Mail", t("rmll.participate.mail.donate"))
    #mail.container.term.overflow
      %article
        %h1 Mailing box
        = render partial: "rmll/participate/mail_headings", locals: { mail: "donate" }

        .content
          %ul
            %li Date: tue, 22 May 2018 16:45:42
            %li From: "rmll 2018 team" <contact [AT] listes2018.rmll.info>
            %li To: You
            %li
              %h2= subject= "Subject : " + t("rmll.participate.mail.donate")

          - add_text(t(".text"))
