%section.term.halfscreen
  - add_bar("Terminal", "history")
  .content
    - term_ps1("user", "~/about", "ls -l history/previousEditions/")
    .result
      - t(".previousEditions").each do |edition|
        %p<
          = edition[:txt]
          %a.folder{ href:edition[:url], target:"_blank"}<
            = edition[:city]
