%noscript
  :css
    #content {
      display: none;
    }
  %h2
    = t("layout.messages.no_js.heading")
  %p
    = t("layout.messages.no_js.body")
- flash.each do |type, message|
  .row
    .col-md-12
      %div{class: "alert alert-dismissable #{bootstrap_class_for(type)}", id: "flash"}
        .button.close{"data-dismiss" => "alert", "aria-hidden"=>"true"}
          &times;
        %p
          = message
